<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>World's Best Cities 2021 Goodle Map</span>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav mode="side" opened class="sidenav">
    <app-search-list *ngIf="cities" [cities]="cities"></app-search-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-map *ngIf="cities" [cities]="cities"></app-map>
  </mat-drawer-content>
</mat-drawer-container>